.topbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.navMenu {
  display: flex;
  list-style-type: none;
}

.menuItem {
  margin: 0 6px;
}
